body {
    font-family: Consolas, monaco, monospace;
    font-size: 18px;
    background-color: #F0FFF0;
    padding: 0px;
    margin: 0px;
}

#intro {
    position: absolute;
    text-align: center;
    top: 40%;
    width: 100%;
    background-color: #A0F0F0;
}

#topBar {
    position: absolute;
    text-align: center;
    top: 0px;
    width: 100%;
    background-color: #A0F0F0;
}

#central {
    position: absolute;
    background-color: #ffefd5;
    width: 100%;
}

.mouseCoords {
    text-align: center;
    background-color: white;
}

.mouseCoordsAnimated {
    text-align: center;
    animation: coordinatesBlink 1.2s linear infinite;
}

@keyframes coordinatesBlink {
    0%, 20%, 100% {
        background-color: red;
    }
    30%, 90% {
        background-color: white;
    }
}

#userName {
    text-align: center;
}

#nameError{
    font-size: 10px;
    text-align: center;
    color: #FF0000;
    display: none;
}

#leftImage {
     position: absolute;
     height: 100px;
     width: 100px;
     background-color: #e4ffcc;
 }

#rightImage {
    position: absolute;
    height: 100px;
    width: 100px;
    background-color: #e4ffcc;
}

#startPosition {
    position: absolute;
    height: 100px;
    width: 100px;
    background-color: #d3f5ff;
}

canvas {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#displayBar {
    position: absolute;
}

#target {
    position: absolute;
    /*display: none;*/
}