html, body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    /*background-color: #F0FFF0;*/
    background-color: #FFFFFF;
    margin: 0px;
    height: 100%;
}

h1 {
    font-family:"minion-pro",times,serif;
    font-size: 48px;
}

h2 {
    font-family:"minion-pro",times,serif;
    font-size: 48px;
    color: #888888;
}

ul {
    text-align: left;
}

.buttons {
    color: black;
    font-size: 12px;
    /*font-family: Helvetica, Arial, sans-serif;*/
    font-family: 'Lato', sans-serif;
    text-decoration: none;
    border: 1px solid black;
    border-radius: 20px;
    transition-duration: .2s;
    -webkit-transition-duration: .2s;
    -moz-transition-duration: .2s;
    background-color: white;
    padding: 4px 30px;
}

.buttons:hover {
    color: white;
    background-color: black;
    transition-duration: .2s;
    -webkit-transition-duration: .2s;
    -moz-transition-duration: .2s;
}

#content {
    height: 100%;
    text-align: center;
}

#instructions {
    width: 50%;
    margin: 0 auto;
    text-align: justify;
    top: 0%;
}

#intro {
    margin: 0 auto;
    border: solid;
    border-width: 1px;
    border-color: #999999;
    font-size: 14px;
    position: relative;
    text-align: center;
    width: 50%;
    /*background-color: #A0F0F0;*/
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

#topBar {
    text-align: center;
    top: 0px;
    width: 100%;
    background-color: #A0F0F0;
    display: none; /********* display for debugging only *********/
}

#central {
    margin: 0 auto;
    text-align: center;
    position: relative;
    background-color: #ffffff; /*#ffefd5;*/
    width: 1024px;
    height: 100%;
}

.mouseCoords {
    text-align: center;
    background-color: white;
}

.mouseCoordsAnimated {
    text-align: center;
    animation: coordinatesBlink 1.2s linear infinite;
}

@keyframes coordinatesBlink {
    0%, 20%, 100% {
        background-color: red;
    }
    30%, 90% {
        background-color: white;
    }
}

#userName {
    text-align: center;
    font-size: 14px;
}

#nameError {
    font-size: 14px;
    text-align: center;
    color: #FF0000;
    display: none;
    padding-top: 4px;
    padding-bottom: 6px;
}

#noError {
    font-size: 14px;
    padding-top: 4px;
    padding-bottom: 6px;
}

#leftImage {
    position: absolute;
    height: 90px;
    width: 90px;
    border-radius: 50%;
    border: 2px solid darkgrey;
    background-color: transparent; /*#e4ffcc;*/
    font-size: 12px;
    text-align: center;
    vertical-align: middle;
    line-height: 90px;
}

#rightImage {
    position: absolute;
    height: 90px;
    width: 90px;
    border-radius: 50%;
    border: 2px solid darkgrey;
    background-color: transparent; /*#e4ffcc;*/
    font-size: 12px;
    text-align: center;
    vertical-align: middle;
    line-height: 90px;
}

#startPosition {
    position: absolute;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: black; /*#d3f5ff;*/
}

canvas {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#displayBar {
    position: absolute;
}

#target {
    position: absolute;
}